{% extends "tables.html" %} 
{% block page %} 
{% block title %}List of Retailers {% endblock title %} 
<p class="text-muted font-13 m-b-30">

</p>

<table>
    <form class="form-group" method="POST" action="{% url 'reports-retailers' %}">
        {% csrf_token %}
        <tr>
            <td>
                <label for="to date">From Date :</label>
            </td>
            <td>
                <div class="form-group">
                    <input type="text" class="datepicker" data-provide="datepicker" id="min-date" name="min-date" required>
                </div>
            </td>
            <td>
                <label for="to date">To Date :</label>
            </td>
            <td>
                <div class="form-group">
                    <input type="text" class="datepicker" data-provide="datepicker" id="max-date" name="max-date" required>
                </div>
            </td>
            <td></td>
            <td>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i>Search</button>
            </td>
             <td></td>
             <td>
                <a href="{% url 'distribution_generate_pdf' %}?min_date=&max_date=&type=retailer" id="filter-btn" class="btn btn-default">
                    <i class="fa fa-file-pdf-o"></i>Print Pdf</a>
                <a href="{% url 'distribution_generate_excel' %}?min_date=&max_date=&type=retailer" id="filter-btn-excel" class="btn btn-success">
                    <i class="fa fa-file-excel-o"></i> Print Excel</a>
             </td>
        </tr>
    </form>
</table>
<br>
<br>

<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No .</th>
            <th>Name</th>
            <th>Retailer Code</th>
            <th>Sub County</th>
            <th>Active</th>
            <th>Distributor</th>
            <th>Date Joined</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for retailer in retailers %}
        <tr>
            <td>{{ forloop.counter }} {{ retailer.retailers }} </td>
            <td>{{retailer.retailer_tenant}}</td>
            <td>{{retailer.agent_number}}</td>
            <td>{{retailer.sub_region}}</td>
            <td>{{retailer.retailer_tenant.enabled}}</td>
            <td>{{retailer.distributor}}</td>
            <td>{{retailer.created_on}}</td>
            <td>{{retailer.contact_phone}}</td>
            <td>{{retailer.contact_email}}</td> 
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br> 
{% endblock page %} {% block extended_js %} 
{{ block.super}}
<script>
    //converting the image into data uri
    $('#datatable-responsive').dataTable({
        bFilter: true,
        bInfo: true
    });

    $('.dataTables_filter').hide()
    $('#datatable-responsive_length').hide()

    //date picker
    $('.datepicker').datepicker({
        dateFormat: 'dd-mm-yy'
    });

    $('#min-date, #max-date').change(function () {
            var url = '/distribution/reports/generate/pdf/';
            var min_date = $('#min-date').val();
            var max_date = $('#max-date').val();
            $('#filter-btn-pdf').attr('href', url + '?min_date=' + min_date + '&max_date=' + max_date + '&type=' + type);
        });

    $('#min-date, #max-date').change(function () {
        var url = '/distribution/reports/generate/excel/';
        var min_date = $('#min-date').val();
        var max_date = $('#max-date').val();
        $('#filter-btn-excel').attr('href', url + '?min_date=' + min_date + '&max_date=' + max_date + '&type=' + type);
    });


</script> {% endblock extended_js %}