{% extends "account/snippets/base.html" %}
{% load sass_tags %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block title %} | {% trans "Password Reset" %}{% endblock %}

{% block content %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{% sass_src 'scss/reg.scss' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block javascripts %}
{{ block.super }}
<script src="{% static 'js/parsleyAddValidator.js' %}"></script>
<script src="{% static 'js/togglePhoneEmail.js' %}"></script>
<script src="{% static 'js/libphonenumber/libphonenumber-js.min.js' %}"></script>
{% endblock %}

<div class="form-narrow">
  <h1>{% trans "Reset your password" %}</h1>

  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

{{ form.non_field_errors }}
<form method="POST" action="{% url 'account_reset_password' %}"
      class="login-form" data-parsley-validate data-parsley-excluded=":hidden">
  {% csrf_token %}

  <div id="email-div" class="verifyDiv email clearfix form-group{% if form.email.errors %} has-error{% endif %}">
    <label class="control-label" for="id_email">{% trans "Enter email" %}</label>
    {% render_field form.email class+="form-control input-lg" data-parsley-sanitize="1" data-parsley-required="true" %}
    <div class="error-block">{{ form.email.errors }}</div>
      <div>
        <a href="#phone-div" class="btn btn-xs btn-link pull-right show-verifyDiv" data-verify="phone" id="phone-btn">{% trans "I want to reset password with my phone" %}</a>
      </div>
  </div>

  <div id="phone-div" class="verifyDiv phone clearfix form-group{% if form.phone.errors %} has-error{% endif %} hidden">
    <label class="control-label" for="id_phone">{% trans "Enter phone" %}</label>
    {% render_field form.phone class+="form-control input-lg" placeholder="+9999999999" data-parsley-required="true" data-parsley-validation-threshold="1" data-parsley-phonenumber="1" data-parsley-phoneplus="1" data-parsley-phonelength="1" data-parsley-errors-container="#phone-errors" %}
    <p class="help-block small">{% trans "Phone numbers must start with a +, followed by a country code and phone number without spaces or punctuation. Phone numbers must contain between 5 and 15 digits." %}</p>
    <div id="phone-errors"></div>
    <div class="error-block">{{ form.phone.errors }}</div>
    <div class="clearfix">
      <a href="#email-div" class="btn btn-xs btn-link pull-right show-verifyDiv" data-verify="email" id="email-btn">{% trans "I want to reset password with my email" %}</a>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-lg btn-block text-uppercase" >{% trans 'Reset password' %}</button>
</form>
</div>
{% endblock %}
