{% extends "tables.html" %}
{% load sass_tags %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block title %} | {% trans "Change Password" %}{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{% sass_src 'scss/profile.scss' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block javascripts %}
{{ block.super }}
<script src="{% static 'js/password_widget.js' %}"></script>
<script src="{% static 'js/parsleyAddValidator.js' %}"></script>
<script src="{% static 'js/libphonenumber/libphonenumber-js.min.js' %}"></script>
{% endblock %}

{% block page %}

<form method="POST" action="{% url 'account_change_password' %}"
      class="login-form form-narrow" data-parsley-validate>

  <h1>{% trans "Change your password" %}</h1>

  {% csrf_token %}
  <input type="hidden" id="id_username" value="{{ user.username }}">
  <input type="hidden" id="id_email" value="{{ user.email }}">
  <input type="hidden" id="id_phone" value="{{ user.phone }}">


  <div class="form-group{% if form.oldpassword.errors %} has-error{% endif %}">
    <label class="control-label" for="id_oldpassword">{% trans "Current password" %}</label>
    {% render_field form.oldpassword class+="form-control input-lg" placeholder="" data-parsley-required="true" %}
     <div class="error-block">{{ form.oldpassword.errors }}</div>
     <div class="small pull-right">
        <a href="{% url 'account_reset_password' %}">
          {% trans "Forgotten password?" %}
        </a>
     </div>
    </div>
  <div class="form-group{% if form.password.errors %} has-error{% endif %}">
    <label class="control-label" for="id_password">{% trans "Enter a new password" %}</label>
    <div class="input-group input-group-lg">
      {% render_field form.password class+="form-control" placeholder="" data-parsley-required="true" data-parsley-minlength="4" data-parsley-character="3" data-parsley-userfield="1" data-parsley-emailfield="1" data-parsley-phonefield="1" data-parsley-sanitize="1" data-parsley-errors-container="#password-errors" %}
      <span class="input-group-btn">
        <button class="btn" type="button">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </button>
      </span>
    </div>
    <p class="help-block small">{% trans "Passwords must have a minimum of 10 characters and contain at least 3 of the following: lowercase characters, uppercase characters, special characters, and/or numerical characters.  Passwords cannot contain the username or email address." %}</p>
    <div id="password-errors"></div>
    <div class="error-block">{{ form.password.errors }}</div>
  </div>

  <button type="submit" name="action"
          class="btn btn-primary btn-lg btn-block text-uppercase">
    {% trans "Change password" %}
  </button>
</form>

{% endblock %}
