{% extends "tables.html" %}
{% load sass_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block title %} Wallet Statement {% endblock title %}

{% block page %}

{% include 'messages.html' %}
{% if balance %}
    <p class="lead">Current balance: Ksh <b style="color: #8EB23A">{{balance}}</b></p>
{% endif %}
<div class="row invoice-info">
    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Item</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for statement in statements %}
            <tr>
                <td>{{ statement.date }}</td>
                <td>{{ statement.item }}</td>
                <td>{{ statement.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div style="margin-top: 20px;" class="row">
    <form action="" novalidate method="post">
        {% csrf_token %}
        <div class="col-xs-3 pull-right">
            <div class="form-group {% if statement_form.password.errors %} has-error {% endif %}" disabled>
                <label class="control-label" for="{{ form.token.id_for_label }}">Enter Wallet Password to proceed</label>
                {% render_field statement_form.password class+="form-control input-md" data-parsley-required="true" data-parsley-sanitize="1"%}
                <div class="error-block">
                    {{ statement_form.password.errors }}
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <input class="btn btn-link pull-right" type="button" value="Cancel" onclick="window.history.go(-1);" />        
            <button type="submit" class="btn btn-primary  pull-right">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
