{% load i18n %}
{% blocktrans %}
<p>You are receiving this email because you were invited to join Gas Yetu Admin.</p>

Click <a href={{ link }}>here</a> to accept the invite 

<p>If you received this by mistake kindly ignore this email.</p>
{% endblocktrans %}
