{% extends "tables.html" %} {% block page %} {% block title %} Product Listings {% endblock title %}

<p class="text-muted font-13 m-b-30">
    View current inventory here
</p>

<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Product</th>
            <th>Count</th>
            <th> - </th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{stock.product}}</td>
            <td>{{stock.no_of}}</td>
            <td>
                <a href="{% url 'stock_product_view' stock.product.pk %}">View Products</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock page %}