{% extends "tables.html" %} {% block page %} {% block title %} Product Stock {% endblock title %}

<p class="text-muted font-13 m-b-30">
    View current inventory here
</p>

<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No.</th>
            <th>Product</th>
            <th>Serial No</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ forloop.counter }} {{ stock.stocks }} </td>
            <td>{{stock.product_item.product}}</td>
            <td>{{stock.product_item.serial_no}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock page %}