{% extends "tables.html" %} {% block page %}
{% block title %} Orders {% endblock title %}

<p class="text-muted font-13 m-b-30">
    View your recent orders here
</p>
<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No.</th>
            <th>Date</th>
            <th>Voucher Number</th>
            <th>Seller</th>
            <th>Status</th>
            <th>Payment Method</th>
            <th>Total Cost</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ forloop.counter }} {{ order.orders }} </td>
            <td>{{order.order_date}}</td>
            <td>{{order.voucher_number}}</td>
            <td>{{order.seller.title}}</td>
            <td>{{order.get_order_status_display}}</td>
            <td>{{order.get_mode_of_payment_display}}</td>
            <td>{{order.total_cost}}</td>
            <td class="last">
                <a style='color:green' href="{% url 'order_preview' order.order_number %}">View</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock page %} {% block extended_js %}
{{ block.super}}
<script>
    let tenant = "{{request.tenant}}";
    let d = new Date();
    $('#datatable-responsive').dataTable({
        columnDefs: [
            { targets: [4, 5], "orderable": false },
        ],
    });
</script> {% endblock extended_js %}
