{% extends "tables.html" %} {% block page %}
{% block title %} Orders {% endblock title %}

<p class="text-muted font-13 m-b-30">
    View your recent orders here
</p>

<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No.</th>
            <th>Date</th>
            <th>Voucher Number</th>
            <th>Buyer</th>
            <th>Payment Method</th>
            <th>Total Cost</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ forloop.counter }} {{ order.orders }} </td>
            <td>{{order.order_date}}</td>
            <td>{{order.voucher_number}}</td>
            {% if order.buyer.tenant_type == 5 %}
                <td>{{order.get_buyer_name}} ({{order.buyer.consumer_set.first.user.phone}})</td>
            {% endif %}
            <td>{{order.get_mode_of_payment_display}}</td>
            <td>{{order.total_cost}}</td>
            <td class="last">
                <a style='color:green' href="{% url 'order_fulfill' order.order_number %}">View and Fulfill</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock page %} {% block extended_js %}
{{ block.super}}
<script>
    $('#datatable-responsive').dataTable({
        columnDefs: [
            { targets: [5], "orderable": false },
        ],
        dom: 'Bfrtip',
        buttons: [
            'copy', 'excel', 'pdf'
        ]
    });
</script> {% endblock extended_js %}
