{% extends "page.html" %}
{% block title %} Order Details{% endblock title %}
{% block page %}
{% load humanize %}
{% load widget_tweaks %}
{% include 'messages.html' %}
<section class="content invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12 invoice-header">
            <h1>
                <i class="fa fa-shopping-cart"></i> Order
                <small class="pull-right">{{order.order_date}}</small>
            </h1>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            From
            <address>
                <strong>{{buyer_names}}</strong>
                <br>{{buyer_county}}, {{buyer_sub_county}}
                <br>Phone: {{buyer_phone}}
                <br>Email: {{buyer_email}}
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            To
            <address>
                <strong>{{seller_names}}</strong>
                <br>{{seller_county}}, {{seller_sub_county}}
                <br>Phone: {{seller_phone}}
                <br>Email: {{seller_email}}
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <br>
            <br>
            <br>
            <b>Voucher Number: </b>{{order.voucher_number}}
            <br>                  
            <b>Service: </b>{{order.get_service}}
            <br>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Qty</th>
                        <th>Product</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.order_items.all %}
                    <tr>
                        <td>{{item.quantity}}</td>      
                        <td>{{item.listing.product}}</td>     
                        <td>Ksh {{item.cost|intcomma}}</td>     
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-xs-6">
            <p class="lead">Payment Methods:
            <strong>{{order.mode_of_payment}}</strong>
            </p>
            <p class="lead">Status:
            {% if order.order_status == 1 %}
                <b>Unpaid</b>
            {% elif order.order_status == 2 %}
                <b>Paid, ...waiting fulfilment</b>  
            {% else %}
                <b>{{order.get_order_status_display}}</b>
            {% endif %}
            </p>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
            <p class="lead">Amount Due</p>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th style="width:50%">Subtotal:</th>
                            <td>Ksh {{order.total_cost|intcomma}}</td>
                        </tr>
                        <tr>
                            <th>Delivery</th>
                            <td>Ksh 0</td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td>Ksh {{order.total_cost|intcomma}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    

    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <form action="#" method="post">
            {% if order.mode_of_payment == 'Wallet' %}
                <div class="col-xs-3 pull-right">
                    <div class="form-group {% if form.password.errors %} has-error {% endif %}" disabled>
                        <label class="control-label" for="{{ form.token.id_for_label }}">Enter Wallet Password</label>
                        {% render_field form.password class+="form-control input-md" data-parsley-required="true" data-parsley-sanitize="1"%}
                        <div class="error-block">
                            {{ form.password.errors }}
                        </div>
                    </div>
                </div>
            {% endif %}
            
            <div class="col-xs-12">
                <button class="btn btn-primary pull-left" onclick="window.print();" style="margin-right: 5px;">
                        <i class="fa fa-print"></i> Print
                </button>
                    {% csrf_token %}
                    {% if order.order_status == 1 %}
                        <button type="submit" name="submit_payment" class="btn btn-success pull-right">
                            <i class="fa fa-credit-card"></i> Submit Payment
                        </button>
                        <button type="submit" name="cancel_order" class="btn btn-danger pull-right">
                            <i class="fa fa-times"></i> Cancel Order
                        </button>
                        <a href="{% url 'edit_order' order.order_number %}" name="edit_order" class="btn btn-warning pull-right">
                            <i class="fa fa-pencil-square-o"></i> Edit Order
                        </a> 
                    {% elif order.order_status == 2 %}
                        <button type="submit" name="submit_payment" class="btn btn-success pull-right" disabled>
                            <i class="fa fa-credit-card"></i> Submit Payment
                        </button>     
                    {% endif %}
            </div>
        </form>
    </div>
</section>
{% endblock page %}