{% extends "account/snippets/base.html" %}
{% load sass_tags %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block title %} Sign In {% endblock title %}

{% block content %}

<div class="row">

    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <h1 style="color:white; text-align:center;">{{message}}</h1>
        <br>
        <a href="/" style="background-color: #7A9E9F; color:white" class="btn btn-primary btn-lg btn-block btn-link text-uppercase"
            role="button">
            {% trans 'Go back home' %}
        </a>
    </div>
</div>
{% endblock content %}