{% extends "tables.html" %}
{% load sass_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block title %} Invite User {% endblock title %}

{% block page %}

{% include 'messages.html' %}
    <form action="{% url 'account:invite_user' %}" method="post">
        {% csrf_token %}
        <div class="form-group {% if form.email.errors %} has-error {% endif %}">
            <label class="control-label" for="{{ form.email.id_for_label }}">{% trans "Email Address" %}</label>
            {% render_field form.email class+="form-control input-lg" data-parsley-required="true" data-parsley-sanitize="1"%}
            <div class="error-block">
                {{ form.email.errors }}
            </div>
        </div>
        <div class="form-group {% if form.roles.errors %} has-error {% endif %}">
            <label class="control-label" for="{{ form.roles.id_for_label }}">{% trans "Role" %}</label>
            {% render_field form.roles class+="form-control input-lg" data-parsley-required="true" data-parsley-sanitize="1"%}
            <div class="error-block">
                {{ form.roles.errors }}
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-fill btn-danger btn-wd">{% trans "Send Invite" %}</button>
        </div>
    </form>
{% endblock page %}