{% extends "account/signup.html" %} {% load sass_tags %} {% load widget_tweaks %} {% load static %} {% load i18n %} 
{% block inner_content %}
<form class="account-register-basic form-narrow form-2col" id="signup_form" method="POST" action="" data-parsley-validate data-parsley-excluded=":hidden">
    {% csrf_token %} {{ wizard.management_form }}
    <div class="row">
        <span style="font-size: 35px;">Create New Account</span>
        <p><b>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</b></p>
        <hr>
    </div>
    <div class="row">
        <!-- FIRST NAME -->
        <div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
            <label class="control-label" for="id_first_name">{% trans "First Name" %}</label>
            {% render_field form.first_name class+="form-control input-lg" %}
            <div class="error-block">{{ form.first_name.errors }}</div>
        </div>

        <!-- LAST NAME -->
        <div class="form-group{% if form.last_name.errors %} has-error{% endif %}">
            <label class="control-label" for="id_last_name">{% trans "Last Name" %}</label>
            {% render_field form.last_name class+="form-control input-lg" %}
            <div class="error-block">{{ form.last_name.errors }}</div>
        </div>

        <!-- PHONE -->
        <div class="form-group{% if form.phone.errors %} has-error{% endif %}">
            <label class="control-label" for="id_phone">{% trans "Phone" %}</label>
            {% render_field form.phone class+="form-control input-lg" placeholder="07xxxxxxx" data-parsley-required="true" data-parsley-errors-container="#phone-errors" %}
            <p class="help-block small">{% trans "Phone numbers must start with 07 and contain 10 digits" %}</p>
            <div id="phone-errors"></div>
            <div class="error-block">{{form.phone.errors}}</div>
        </div>

        <!-- EMAIL -->
        <div class="form-group{% if form.email.errors %} has-error{% endif %}">
            <label class="control-label" for="id_email">{% trans "Email" %}</label>
            {% render_field form.email class+="form-control input-lg" data-parsley-required="true" %}
            <div class="error-block">{{ form.email.errors }}</div>
            <div>
            </div>
        </div>

        <!-- PASSWORD -->
        <div class="form-group{% if form.password.errors %} has-error{% endif %}">
            <label class="control-label" for="id_password">{% trans "Password" %}</label>
            <div class="input-group input-group-lg">
                {% render_field form.password class+="form-control" data-parsley-minlength="4" data-parsley-character="3" data-parsley-userfield="1" data-parsley-emailfield="1" data-parsley-phonefield="1" data-parsley-errors-container="#password-errors" %}
                <span class="input-group-btn">
                    <button class="btn" type="button">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
            <p class="help-block small">{% trans "Your password must be numeric and 4 digits long" %}</p>
            <div id="password-errors"></div>
            <div class="error-block">{{ form.password.errors }}</div>
        </div>
    </div>

    <!-- REDIRECT -->
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}

    <!-- BUTTONS
                <button type="submit" name="register" class="btn btn-primary btn-lg btn-block text-uppercase">
                    {% trans "Register" %}
                </button> -->

    <!-- BUTTONS -->
    <div class="text-right m-t-30">
        <button type="submit" class="btn btn-success btn-fill btn-wd btn-next">NEXT</button>
    </div>

</form>
{% endblock inner_content %}