{% extends "tables.html" %} {% block page %} {% block title %} Distributors {% endblock title %}
{% include 'messages.html' %}

<p class="text-muted font-13 m-b-30">
    Manage the list of distributors here
</p>
<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Distributor Code</th>
            <th>Email</th>
            <th>County</th>
            <th class="dt-center"></th>
            <th class="dt-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for distributor in distributors %}
        <tr>
            <td>{{distributor.trading_name}}</td>
            <td>{{distributor.agent_number}}</td>
            <td>{{distributor.contact_email}}</td>
            <td>{{distributor.region}}</td>
            <td class="last">
                <a style='color:green' href='{{ distributor.get_absolute_url }}'>Edit</a>
            </td>
            <td class=" last">
                <a style='color:red' href="{% url 'distributor-deactivate' distributor.id %}">Deactivate</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<a class="btn btn-primary btn-lg btn-block" href="{% url 'distributor-create'%}" role="button">Create New Distributor</a>
{% endblock page %} {% block extended_js %} {{ block.super}}
<script>
    $('#datatable-responsive').dataTable({

    });
</script> {% endblock extended_js %}