{% extends "page.html" %}
{% block title %} Deactivate Retailer {% endblock title %}
{% block page %}
<div class="card">
    <div class="card-content">
        <h3> {{retailer.retailer.title}}</h3>
        <p> Sub County : {{retailer.sub_county}}</p>
        <p> Started on: {{retailer.start_date}}</p>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <input class="btn btn-link" type="button" value="Cancel" onclick="window.history.go(-1);" />
        <input class="btn btn-danger" type="submit" value="Yes, Deactivate!" />
    </form>
</div>
{% endblock page %}