{% extends "tables.html" %}
{% block page %}
{% block title %} Retailers {% endblock title %}

    <p class="text-muted font-13 m-b-30">
        Manage the list of retailers here
    </p>

<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No .</th>
            <th>Name</th>
            <th>Retailer Code</th>
            <th>Sub County</th>
            <th>Distributor</th>
            <th class="dt-center"></th>
            <th class="dt-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for retailer in retailers %}
            <tr>
                <td>{{ forloop.counter }} {{ retailer.retailers }} </td>
                <td>{{retailer.trading_name}}</td>
                <td>{{retailer.agent_number}}</td>
                <td>{{retailer.sub_region}}</td>
                <td>{{retailer.distributor}}</td>
                <td class="last">
                    <a style='color:green' href='{{ retailer.get_absolute_url }}'>Edit</a>
                </td>
                <td class=" last">
                    <a style='color:red' href="{% url 'retailer-deactivate' retailer.id %}">Deactivate</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>

{#<a class="btn btn-primary btn-lg btn-block" href="{% url 'retailer-create'%}" role="button">Create New Retailer</a>#}
{% endblock page %} {% block extended_js %}
{{ block.super}}
<script>
    $('#datatable-responsive').dataTable({
        "orderable": false
    });
</script>
{% endblock extended_js %}
