{% extends "base.html" %}
{% load static %}
{% load permission_tags %}
{% block title %} Dashboard{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row top_tiles">
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <a href="/inventory/stock-movement/">
          <div class="icon"><i class="fa fa-briefcase"></i></div>
          <div class="count">{{total_stock}}</div>
          <h3>Availble Stock</h3>
          <p></p>
          </a>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <a href="#">
            <div class="icon"><i class="fa fa-shopping-basket"></i></div>
            <div class="count">{{completed_orders}}</div>
            <h3>Sold Stock</h3>
            <p></p>
          </a>
        </div>
      </div>
      {% if user|has_role:'gas_importer_admin'%}
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <a href="/distribution/retailers/">
            <div class="icon"><i class="fa fa-users"></i></div>
            <div class="count">{{retailer_count}}</div>
            <h3>My Retailers</h3>
            <p></p>
          </a>
        </div>
      </div>
      {% endif %}
      {% if user|has_role:'gas_importer_admin' %}
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <a href="#">
            <div class="icon"><i class="fa fa-folder-open"></i></div>
            <div class="count">{{new_order_count}}</div>
            <h3>New Orders</h3>
            <p></p>
          </a>
        </div>
      </div>
      {% endif %}
    </div>
    <!-- /top tiles -->
    <br />

    <div class="row">

    {% if request.tenant.tenant_type == 2 %}
      <div class="col-md-12 col-sm-12 col-xs-12">
          <h3>New Orders</h3>
        <table id="new_orders_table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Voucher Number</th>
                    <th>Status</th>
                    <th>Buyer</th>
                    <th>Service</th>
                    <th>Total Cost</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              {% for order in orders %}
                <tr>
                  <td>{{ forloop.counter }}  {{ order.orders }} </td>
                  <td>{{order.voucher_number}}</td>
                  <td>New</td>
                  <td>{{order.buyer}}</td>
                  <td>{{order.get_service}}</td>
                  <td>{{order.total_cost}}</td>
                  <td class="last">
                      <a style='color:green' href="{% url 'order_fulfill' order.order_number %}">View and Fulfill</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
      </div>

    {% else %}

      <div class="col-md-12 col-sm-12 col-xs-12">
          <h3>My Sales</h3>
        <table id="sales_table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Voucher Number</th>
                    <th>Customer Name</th>
                    <th>Customer Phone</th>
                    <th>Status</th>
                    <th>Service</th>
                    <th>Total Cost</th>
                </tr>
            </thead>
            <tbody>
              {% for sale in sales %}
                <tr>
                  <td>{{ forloop.counter }}  {{ sale.sales }} </td>
                  <td>{{sale.voucher_number}}</td>
                  <td>{{sale.consumer.name}}</td>
                    <td>{{sale.consumer.phone}}</td>
                    <td>{{sale.sale_status}}</td>
                  <td>{{sale.sale_type}}</td>
                  <td>{{sale.get_cost}}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
      </div>
    {% endif %}
    </div>
{% endblock content %}