.nav-pills>li>span {
    border-radius: 4px;
}

.nav>li>span {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
}

.nav-pills>li.active>span,
.nav-pills>li.active>span:focus,
.nav-pills>li.active>span:hover {
    color: #fff;
    background-color: #337ab7;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding-left: 1.3em;
}
li.username{
    cursor: pointer;
    min-width: 20px;
}

li.username:before {
    content: "\f007";
    /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    /* same as padding-left set on li */
    width: 1.3em;
    /* same as padding-left set on li */
}

.remove-role{
    float:right;
    font-size:18px;
    cursor: pointer;
}

#users_ul.nav-stacked{
    border-right:none
}
#roles{
    border-left:1px solid #F1EAE0;
}

#remove-all{
    height: 46px;
    padding: 7px 18px;
}
