@page{
            size: A4;
            margin: 1cm;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            size: landscape;
        }
        @page:left{
            @bottom-center {
                content: element(footer);
            }
        }
        @page:right{
            @bottom-right {
                content: counter(page);
            }
        }
            
        h2{
            font-size: 1em;
            font-weight: bold;
        }
        .body{
            width: 100%;
        }
        .header{
            width: 100%;
            height: 20%;
        }
        .header-col{
            width: 33%;
            height: 150px;
            line-height: 10px;
            font-size: 1.1em;
        }
        .right{
            float:left;
        }
        .center{
            padding-left: 130px;
        }
        .left{
            padding-left: 130px;
            float:right;
        }

        .header-col p {
            line-height: 20px;
            font-size: 0.7em;
        }

        .logo{
            width: 100px;
            height: 80px;
        }

        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 3px;
            background-color: #fff;
            border: 1px solid #000;
        }

        .table thead th{
            padding: 3px;
            vertical-align: top;
            border: 1px solid #000;
            border-bottom: 1px solid #000;
            text-align: center;
            font-size: 0.9em;
            font-weight: bold;
            size: landscape;

        }
        .table tbody td {
            padding: 3px;
            vertical-align: top;
            border: 1px solid #000;
            border-top: 1px solid #000;
            text-align: center;
            font-size: 0.9em;
        }

        .table thead th {
            vertical-align: bottom;
        }
        .footer{
            display: block;
			position: running(footer);
            width: 100%;
            float: left;
            height: 25px;
            line-height: 20px;
            list-style: none;
        }
        .footer p{
            font-size: 0.9em;
        }