{% extends "tables.html" %} 
{% block page %} 
{% block title %} List of registered consumers {% endblock title %}
<p class="text-muted font-13 m-b-30">

</p>
<table>
    <form class="form-group" method="POST" action="{% url 'consumers' %}">
         {% csrf_token %}
        <tr>
            <td><label for="to date">From Date :</label></td>
            <td>
                <div class="form-group">
                    <input type="text" class="datepicker" data-provide="datepicker" id="min-date" name="min-date" required>
                </div>
            </td>
            <td><label for="to date">To Date :</label></td>
            <td>
                <div class="form-group">
                    <input type="text" class="datepicker" data-provide="datepicker" id="max-date" name="max-date" required>
                </div> 
            </td>
            <td></td>
            <td>
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
            </td>
            <td></td>
            <td>
                <a href="{% url 'generate_pdf' %}?min_date=&max_date=" id="filter-btn-pdf" class="btn btn-default">
                        <i class="fa fa-file-pdf-o"></i> Print Pdf</a>
                <a href="{% url 'generate_excel' %}?min_date=&max_date=" id="filter-btn-excel" class="btn btn-success">
                    <i class="fa fa-file-excel-o"></i> Print Excel</a>
            </td>
        </tr>
    </form>
</table>
<br>
<br>
<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No .</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No.</th>
            <th>ID No.</th>
            <th>Status</th>
            <th>Date Joined</th>
            <th>Survey</th>
            <th>Product</th>
            <th>Region</th>
            <th>Sub Region</th>
            <th>Location</th>
            <th>Village</th>
        </tr>
    </thead>
    <tbody>
        {% for report in reports %}
        <tr>
            <td>{{ forloop.counter }} {{ report.reports }} </td>
            <td>{{report.name}}</td>
            <td>{{report.email}}</td>
            <td>{{report.phone}}</td>
            <td>{{report.id_no}}</td>
            <td>{{report.status}}</td>
            <td>{{report.date_joined}}</td>
            <td>{{report.survey}}</td>
            <td>{{report.product}}</td>
            <td>{{report.region}}</td>
            <td>{{report.sub_region}}</td>
            <td>{{report.location}}</td>
            <td>{{report.village}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock page %} {% block extended_js %} 
{{ block.super}}
<script>
    //converting the image into data uri
    $('#datatable-responsive').dataTable({
         bFilter: true, 
         bInfo: true 
    });

    $('.dataTables_filter').hide()
    $('#datatable-responsive_length').hide()

    //date picker
    $('.datepicker').datepicker({
        dateFormat: 'dd-mm-yy'
    });

    $('#min-date, #max-date').change(function(){
        var url = '/consumers/reports/generate/pdf/';
        var min_date = $('#min-date').val();
        var max_date = $('#max-date').val();
       $('#filter-btn-pdf').attr('href', url+'?min_date='+min_date+'&max_date='+ max_date);
    });

    $('#min-date, #max-date').change(function () {
        var url = '/consumers/reports/generate/excel/';
        var min_date = $('#min-date').val();
        var max_date = $('#max-date').val();
        $('#filter-btn-excel').attr('href', url + '?min_date=' + min_date + '&max_date=' + max_date);
    });




</script>{% endblock extended_js %}