{% extends "page.html" %}
{% block title %} Delete Product{% endblock title %}
{% block page %}
    <div class="card">
        <div class="card-content">
            <h3>{{product.title}}</h3>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <input class="btn btn-link" type="button" value="Cancel" onclick="window.history.go(-1);" />
            <input class="btn btn-danger" type="submit" value="Yes, Delete!" />
        </form>
    </div>
{% endblock page %}