{% extends "page.html" %}
{% block title %} Deactivate Product Listing{% endblock title %}
{% block page %}
    <div class="card">
        <div class="card-content">
            <p> Service : {{listing.service}}</p>
            <p> Product : {{listing.product}}</p>
            <p> Price : {{listing.list_price}}</p>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <input class="btn btn-link" type="button" value="Cancel" onclick="window.history.go(-1);" />
            <input class="btn btn-danger" type="submit" value="Yes, Deactivate!" />
        </form>
    </div>
{% endblock page %}