{% extends "page.html" %}
{% block title %} Product Listing Details{% endblock title %}

{% block page %}
    {% load crispy_forms_tags %}
    {% include 'messages.html' %}
    <form method="post" class="bootstrap3" enctype="multipart/form-data">
      {% csrf_token %} {{ form|crispy }}
      <div class="pull-right">
        <a class="btn btn-secondary" href="{% url 'listings'%}" role="button">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
{% endblock page %}