{% extends "page.html" %} 
{% block title %} Update County Details {% endblock title %} 
{% block page %} 
{% load crispy_forms_tags%}

<form method="post" class="bootstrap3" enctype="multipart/form-data">
    {% csrf_token %}{{ form|crispy }}
    <div class="pull-right">
        <a class="btn btn-secondary" href="{% url 'regions'%}" role="button">Cancel</a>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
{% endblock page %} {% block extended_js %} {% endblock extended_js %}