{% extends "tables.html" %} {% block page %} {% block title %} Counties {% endblock title %}

<p class="text-muted font-13 m-b-30">
    Manage the list of counties here
</p>

<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No.</th>
            <th>Code</th>
            <th>Name</th>
            <th>Country</th>
            <th class="dt-center"></th>
            <th class="dt-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for region in regions %}
        <tr>
            <td>{{ forloop.counter }} {{ region.regions }} </td>
            <td>{{region.code}}</td>
            <td>{{region.title}}</td>
            <td>{{region.country}}</td>
            <td class="last">
                <a style='color:green' href="{{ region.get_absolute_url }}">Edit</a>
            </td>
            <td class=" last">
                <a style='color:red' href="{% url 'region-delete' region.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<a class="btn btn-primary btn-lg btn-block" href="{% url 'country-create'%}" role="button">Add New Country</a>
{% endblock page %} {% block extended_js %}
{{ block.super }}
<script>
    $('#datatable-responsive').dataTable({
        columnDefs: [
            { targets: [4, 5], "orderable": false },
        ]
    });
</script> {% endblock extended_js %}