{% extends "tables.html" %} {% block page %} {% block title %} Sub Counties {% endblock title %}

<p class="text-muted font-13 m-b-30">
    Manage the list of sub counties here
</p>

<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No.</th>
            <th>Code</th>
            <th>Name</th>
            <th>County</th>
            <th class="dt-center"></th>
            <th class="dt-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for sub_region in sub_regions %}
        <tr>
            <td>{{ forloop.counter }} {{ sub_region.sub_regions }} </td>
            <td>{{sub_region.code}}</td>
            <td>{{sub_region.title}}</td>
            <td>{{sub_region.region}}</td>
            <td class="last">
                <a style='color:green' href="{{ sub_region.get_absolute_url }}">Edit</a>
            </td>
            <td class=" last">
                <a style='color:red' href="{% url 'sub-region-delete' sub_region.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<a class="btn btn-primary btn-lg btn-block" href="{% url 'sub-region-create'%}" role="button">Add New Sub Region</a>
{% endblock page %} {% block extended_js %}
{{ block.super }}
<script>
    $('#datatable-responsive').dataTable({
        columnDefs: [
            { targets: [4, 5], "orderable": false },
        ],
    });

</script> {% endblock extended_js %}