{% extends "page.html" %}
{% load static %}
{% load permission_tags %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %} Make Sale {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock stylesheets %}

{% block page %}
    {% load crispy_forms_tags %}
    {% include 'messages.html' %}

    <form action="" id="sale_form" data-listings-url="{% url 'make_sale' %}" novalidate method="post">
        {% csrf_token %}
{#        <div class="form-group">#}
{#            <label for="customer_name">Customer Name</label>#}
{#            <input type="text" class="form-control" name="customer_name" value="" id="id_customer_name_sale" required />#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="customer_name">Customer Phone Number</label>#}
{#            <input type="text" class="form-control" name="customer_phone_number" placeholder="072****" id="id_customer_phone_number_sale" required />#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="sale_type">Sale Type</label>#}
{#            <select class="form-control" name="sale_type" id="id_sale_type" required>#}
{#                <option value="">Please Select a Service</option>#}
{#                <option value="purchase">Purchase</option>#}
{#                <option value="refill">Refill</option>#}
{#            </select>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="serial_no">Sold Serial No</label>#}
{#            <input type="text" class="form-control" name="outgoing_serial_no" id="id_outgoing_serial_no">#}
{#            <div class="error-block" id="outgoing_serial_no_errors"></div>#}
{#        </div>#}
        {{ form | crispy }}
{#        <div class="form-group" id="id_returned_serial_no">#}
{#            <label for="serial_no">Returned Serial No</label>#}
{#            <input type="text" class="form-control" name="incoming_serial_no" id="id_incoming_serial_no">#}
{#        </div>#}
        <div class="form-group">
            <input type="submit" class="form-control btn btn-success" value="Make Sale" />
        </div>
    </form>
{% endblock page %}
{% block javascripts %}
{{ block.super }}
    <script type="application/javascript">
        // hiding the returned serial number input
        $('#div_id_incoming_serial_no').hide();
        $('#id_returned_serial_no').hide();

        //check if serial_no exists
        {#$("#id_outgoing_serial_no").on('change',function(e) {#}
        {#    e.preventDefault();#}
        {#    let outgoing_serial = e.target.value;#}
        {#    if (outgoing_serial) {#}
        {#        $.ajax({#}
        {#            type: 'GET',#}
        {#            url: '/sales/check_serial_no/',#}
        {#            data: {#}
        {#                'outgoing_serial_no': outgoing_serial#}
        {#            },#}
        {#            success: function (data) {#}
        {#                let parsed = $.parseJSON(data);#}
        {#                if (parsed.status != 200) {#}
        {#                    $('#outgoing_serial_no_errors').html(parsed.message);#}
        {#                }#}
        {#                else {#}
        {#                    $('#outgoing_serial_no_errors').html(parsed.message);#}
        {#                }#}
        {#            },#}
        {#            error: function (data) {#}
        {#                console.log('An error occurred.');#}
        {#                console.log(data);#}
        {#            },#}
        {#        });#}
        {#    }#}
        {##}
        {#});#}


        $("#id_sale_type").on('change', function(e) {
            e.preventDefault();
            let value = $('#id_sale_type :selected').val();
            console.log("the value", value);
            if (value == 'purchase' ){

                 $('#div_id_incoming_serial_no').hide();
                 $('#id_returned_serial_no').hide();
            } else {
                $('#div_id_incoming_serial_no').show();
                $('#id_returned_serial_no').show();
            }
        });
    </script>
{% endblock javascripts %}
