{% extends "tables.html" %} {% block page %}
{% block title %} Sales {% endblock title %}

<p class="text-muted font-13 m-b-30">
    View your recent sales here
</p>
<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No.</th>
            <th>Date</th>
            <th>Consumer Name</th>
            <th>Consumer Phone</th>
            <th>Sale Type</th>
            <th>Product</th>
            <th>Issued Serial</th>
            <th>Returned Serial</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in sales %}
        <tr>
            <td>{{ forloop.counter }} {{ sale.sales }} </td>
            <td>{{sale.sale_date}}</td>
            <td>{{sale.consumer.name}}</td>
            <td>{{sale.consumer.phone}}</td>
            <td>{{sale.sale_type}}</td>
            {% if sale.sale_status == '2' %}
                <td>Paid</td>
            {% endif %}
            <td>
                {{ sale.get_product }}
            </td>
            <td>
                {{ sale.get_outgoing_serial }}
            </td>
            <td>
                 {% if sale.sale_type == 'refill' %}
                    {{ sale.get_incoming_serial }}
                 {% else %}

                 {% endif %}
            </td>
            <td>
                {{ sale.get_cost }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock page %} {% block extended_js %}
{{ block.super}}
<script>
    var tenant = "{{request.tenant}}";
    var d = new Date();
    $('#datatable-responsive').dataTable({
        columnDefs: [
            { targets: [4, 5], "orderable": false },
        ],
    });
</script> {% endblock extended_js %}
