{% extends "page.html" %}
{% block title %} Sale Details{% endblock title %}
{% block page %}
{% load humanize %}
{% load widget_tweaks %}
{% include 'messages.html' %}
<section class="content invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12 invoice-header">
            <h1>
                <i class="fa fa-shopping-cart"></i> Sale
                <small class="pull-right">{{sale.sale_date}}</small>
            </h1>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            From
            <address>
                <strong>{{seller_names}}</strong>
                <br>{{seller_county}}, {{seller_sub_county}}
                <br>Phone: {{seller_phone}}
                <br>Name: {{seller_email}}
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            To
            <address>
                <strong>{{sale.consumer.name}}</strong>
                <br>Phone: {{sale.consumer.phone}}
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <br>
            <br>
            <br>
            <b>Voucher Number: </b>{{sale.voucher_number}}
            <br>
            <b>Service: </b>{{sale.sale_type}}
            <br>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Qty</th>
                        <th>Product</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>{{sale_item.listing.product}}</td>
                        <td>Ksh {{sale_item.listing.list_price|intcomma}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-xs-6">
            <p class="lead">Payment Methods:
            <strong>{{order.mode_of_payment}}</strong>
            </p>
            <p class="lead">Status:
            {% if sale.sale_status == 'pending' %}
                <b>Unpaid</b>
            {% else %}
                <b>Paid</b>
            {% endif %}
            </p>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
            <p class="lead">Amount Due</p>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th style="width:50%">Subtotal:</th>
                            <td>Ksh {{sale_item.listing.list_price|intcomma}}</td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td>Ksh {{sale_item.listing.list_price|intcomma}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->


    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <form action="#" method="post">
            <input type="hidden" name="pk" value={{sale.pk }}>

            <div class="col-xs-12">
                <button class="btn btn-primary pull-left" onclick="window.print();" style="margin-right: 5px;">
                        <i class="fa fa-print"></i> Print
                </button>
                    {% csrf_token %}
                    {% if sale.sale_status == 'pending' %}
                        <button type="submit" name="submit_payment" class="btn btn-success pull-right">
                            <i class="fa fa-credit-card"></i> Submit Payment
                        </button>
                        <button type="submit" name="cancel_order" class="btn btn-danger pull-right">
                            <i class="fa fa-times"></i> Cancel Order
                        </button>
{#                        <a href="{% url 'edit_order' order.order_number %}" name="edit_order" class="btn btn-warning pull-right">#}
{#                            <i class="fa fa-pencil-square-o"></i> Edit Order#}
{#                        </a>#}
                    {% elif order.order_status == 'completed' %}
                        <button type="submit" name="submit_payment" class="btn btn-success pull-right" disabled>
                            <i class="fa fa-credit-card"></i> Submit Payment
                        </button>
                    {% endif %}
            </div>
        </form>
    </div>
</section>
{% endblock page %}