{% extends "page.html" %}
{% load static %}
{% load permission_tags %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %} Edit Product Serial{% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock stylesheets %}

{% block page %}
    {% load crispy_forms_tags %}
    {% include 'messages.html' %}
    <form action="" id="productForm" data-listings-url="{% url 'ajax_load_listings' %}" novalidate method="post">
        {% csrf_token %}       
        <fieldset>
            <div class="form-group {% if product_form.brand.errors %} has-error {% endif %}" disabled>
                <label class="control-label" for="{{ form.token.id_for_label }}">{% trans "Product" %}</label>
                <div class="input-group">
                    {% render_field product_form.brand class+="form-control input-md" data-parsley-required="true" data-parsley-sanitize="1"%}
                </div>
                <div class="error-block">
                    {{ product_form.brand.errors }}
                </div>
            </div>
            {{ product_form|crispy }}
        </fieldset>

        {{ product_serial_formset.management_form|crispy }}

        <fieldset>        
        <table class="table">
                {% for form in product_serial_formset %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="formset_row">
                        {% for field in form.visible_fields %}
                            <td>
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %}
                        
                    </tr>
                {% endfor %}
        </table>
        </fieldset>

        <div class="pull-right">
            <input class="btn btn-link" type="button" value="Cancel" onclick="window.history.go(-1);" />        
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock page %}
{% block javascripts %}
{{ block.super }}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'Add product serial',
        deleteText: 'Remove',
        //prefix: 'productserial_set'
        prefix: '{{ product_serial_formset.prefix }}'
    });

    $(".delete-row").on('click', function(){
        let count = parseInt($('#id_productitem_set-TOTAL_FORMS').val());
        $('#id_order_items-TOTAL_FORMS').val(count-1);
    });


    let btn = $(".add-row");
    btn.data("funcToCall", btn.attr("onclick"));
    $(".add-row").removeAttr("onclick");
    $(".add-row").bind("click", function(e){
        let func = $(this).data("funcToCall");
        eval(func);
        let count = parseInt($('#id_productitem_set-TOTAL_FORMS').val());
        $('#id_productitem_set-TOTAL_FORMS').val(count+1);
    });
</script>
{% endblock javascripts %}