{% extends "page.html" %}
{% load static %}
{% load permission_tags %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %} Upload Product Serials{% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock stylesheets %}

{% block page %}
    {% load crispy_forms_tags %}
    {% include 'messages.html' %}
    <form action="" id="id_serial_upload_Form" enctype="multipart/form-data" data-listings-url="{% url 'import_serial' %}" novalidate method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="customer_name">Brand</label>
            <input type="text" class="form-control" name="brand" value="{{ brand }}" required>
        </div>
        <div class="form-group">
            <label for="cylinder_size">Cylinder Size</label>
            <select class="form-control" name="cylinder_size" id="id_cylinder_size" onload="get_cylinder_size();" required>
                <option value="">Please Select Cylinder</option>
            </select>
        </div>
        <div>
            <label for="serial_file">Upload Excel File</label>
            <input type="file" name="serial_file" id="id_serial_file" required>
        </div>

        <div class="pull-right">
            <input class="btn btn-link" type="button" value="Cancel" onclick="window.history.go(-1);" />
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </form>
{% endblock page %}
{% block javascripts %}
{{ block.super }}
    <script type="application/javascript">
        function get_cylinder_size() {
            $("#id_cylinder_size").empty();
            $.ajax({
                type: 'GET',
                url: '/products/get_cylinder_size/',
                success: function (data) {
                    let parsed = $.parseJSON(data);
                    parsed.forEach(function (record) {
                        $("#id_cylinder_size").prepend("<option value='" + record.id + "'>" + record.title + "</option>");
                    });
                },
                error: function (data) {
                    $("#id_cylinder_size").prepend("<option value='' selected='selected'>--------------</option>");
                },
            });
        }
        get_cylinder_size();
    </script>
{% endblock javascripts %}
