{% extends "page.html" %}
{% load sass_tags %} {% load widget_tweaks %} {% load static %} {% load i18n %}
{% block title %} Create Retailer{% endblock title %}

{% block page %}
    {% load crispy_forms_tags %}
    {% include 'messages.html' %}
    {% if form.non_field_errors %}
        <div id="messages">
        {% for message in form.non_field_errors %}
        <div class="alert alert-dismissible alert-danger"
            role="alert">
            <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            {{ message|escape }}
        </div>
        {% endfor %}
        </div>
    {% endif %}
    <form class="form-narrow form-2col" id="retailer-form" method="POST" action="" data-parsley-validate data-parsley-excluded=":hidden">
        {% csrf_token %} {{ wizard.management_form }}
        <div class="row">
            <span style="font-size: 35px;">Create New Retailer</span>
            <p><b>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</b></p>
            <hr>
        </div>
        <div class="row">
            <!-- BUSINESS NAME -->
            <div class="form-group{% if form.business_name.errors %} has-error{% endif %}">
                <label class="control-label" for="id_business_name">{% trans "Business Name" %}</label>
                {% render_field form.business_name class+="form-control input-lg" data-parsley-minlength="5" %}
                <div class="error-block">{{ form.business_name.errors }}</div>
            </div>

            <!-- CONTACT EMAIL -->
            <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                <label class="control-label" for="id_email">{% trans "Contact Email" %}</label>
                {% render_field form.email class+="form-control input-lg" %}
                <div class="error-block">{{ form.email.errors }}</div>
            </div>

            <!-- CONTACT PHONE -->
            <div class="form-group{% if form.phone.errors %} has-error{% endif %}">
                <label class="control-label" for="id_phone">{% trans "Contact Phone" %}</label>
                {% render_field form.phone class+="form-control input-lg" placeholder="07xxxxxxx" data-parsley-required="true" data-parsley-errors-container="#phone-errors" %}
                <p class="help-block small">{% trans "Phone numbers must start with 07 and contain 10 digits" %}</p>
                <div id="phone-errors"></div>
                <div class="error-block">{{form.phone.errors}}</div>
            </div>

            <!-- KRA PIN NUMBER -->
            <div class="form-group{% if form.kra_pin_number.errors %} has-error{% endif %}">
                <label class="control-label" for="id_kra_pin_number">{% trans "Kra Pin Number" %}</label>
                {% render_field form.kra_pin_number class+="form-control input-lg"  data-parsley-minlength="8" data-parsley-required="true" %}
                <div class="error-block">{{ form.kra_pin_number.errors }}</div>
                <div>
                </div>
            </div>

            <!-- IDENTITY NUMBER -->
            <div class="form-group{% if form.identity_number.errors %} has-error{% endif %}">
                <label class="control-label" for="id_identity_number">{% trans "Identity Number" %}</label>
                {% render_field form.identity_number class+="form-control input-lg" data-parsley-minlength="8" %}
                <div class="error-block">{{ form.identity_number.errors }}</div>
            </div>

            <!-- SUB REGION -->
            <div class="form-group{% if form.sub_region.errors %} has-error{% endif %}">
                <label class="control-label" for="id_sub_region">{% trans "Sub County" %}</label>
                {% render_field form.sub_region class+="form-control input-lg" %}
                <div class="error-block">{{ form.sub_region.errors }}</div>
            </div>

            <!-- PHYSICAL ADDRESS -->
             <div class="form-group{% if form.physical_address.errors %} has-error{% endif %}">
                <label class="control-label" for="id_physical_address">{% trans "Physical Address" %}</label>
                {% render_field form.physical_address class+="form-control input-lg" %}
                <div class="error-block">{{ form.physical_address.errors }}</div>
            </div>

            <!-- POSTAL ADDRESS -->
             <div class="form-group{% if form.postal_address.errors %} has-error{% endif %}">
                <label class="control-label" for="id_postal_address">{% trans "Postal Address" %}</label>
                {% render_field form.postal_address class+="form-control input-lg" %}
                <div class="error-block">{{ form.postal_address.errors }}</div>
            </div>

             <!-- PASSWORD -->
            <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                <label class="control-label" for="id_password">{% trans "Password" %}</label>
                <div class="input-group input-group-lg">
                    {% render_field form.password class+="form-control" data-parsley-errors-container="#password-errors" %}
                    <span class="input-group-btn">
                        <button class="btn" type="button">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
                <p class="help-block small">{% trans "Your password must be alphanumeric and contain atleast one uppercase letter, number and symbol.It must also be atleast 8 digits long" %}</p>
                <div id="password-errors"></div>
                <div class="error-block">{{ form.password.errors }}</div>
            </div>

        </div>

        <!-- REDIRECT -->
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}

        <div class="text-right m-t-30">
            <button type="submit" class="btn btn-success btn-fill btn-wd btn-next">NEXT</button>
        </div>

    </form>

{% endblock page %}
{% block javascripts %}
{{ block.super }}
<script src="{% static 'js/password_widget.js' %}"></script>
{% endblock javascripts %}