{% extends "page.html" %} 
{% block title %} Order Details{% endblock title %} 
{% block page %} 
{% load humanize %} 
{% load widget_tweaks %} {% include 'messages.html' %}
<section class="content invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12 invoice-header">
            <h1>
                Order Details
                <small class="pull-right">{{order.order_date}}</small>
            </h1>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            From
            <address>
                <strong>{{order.buyer.title}}</strong>
                {% comment %} <br>{{order.buyer.region}}, {{order.buyer.sub_region}} {% endcomment %}
                <br>Phone: {{order.buyer.phone}}
                <br>Email: {{order.buyer.email}}
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            To
            <address>
                <strong>{{order.seller.title}}</strong>
                {% comment %} <br>{{order.seller.region}}, {{order.seller.sub_region}} {% endcomment %}
                <br>Phone: {{order.seller.phone}}
                <br>Email: {{order.seller.email}}
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <br>
            <br>
            <br>
            <b>Voucher Number: </b>{{order.voucher_number}}
            <br>
            <b>Service: </b>{{order.get_service}}
            <br>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Issued Serial No.</th>
                        <th>Returned Serial No.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product_detail in product_details %}
                        <tr>
                            <td>{{ forloop.counter }} {{ product_detail.product_details }} </td>
                            <td>{{product_detail.product}}</td>
                            <td>{{product_detail.price}}</td>
                            <td>{{product_detail.issued_serial_number}}</td>
                            <td>{{product_detail.returned_serial_number}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

   
</section>
{% endblock page %}