{% load static %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %} {% block meta %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"> {% endblock meta %}

  <title>Gas System | {% block title %}{% endblock %}</title>

  {% block stylesheets %}
  {{ form.media.css }}
  <!-- Bootstrap -->
  <link href="{% static 'build/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'build/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Jquery UI -->
  <link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="{% static 'build/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
  <!-- NProgress -->
  <link href="https://unpkg.com/nprogress@0.2.0/nprogress.css" rel="stylesheet">
  <!-- bootstrap-daterangepicker -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link href="{% static 'build/css/custom.css' %}" rel="stylesheet"> {% endblock stylesheets %}
  <!-- Custom Theme Style -->
  <link href="{% static 'build/css/custom.css' %}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

  {% block header_javascripts %}
  {% endblock header_javascripts %}

  <!-- Custom SCSS Style -->
  {% endblock head %}
</head>

<body class="{% block body_class %}nav-md {% endblock body_class %}">
  {% block body %}
  <div class="container body">
    <div class="main_container">

      {% block sidebar %}
      <div class="col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
        {% include "sidebar.html" %}
      </div>
      {% endblock sidebar %} {% block top_navigation %}
      <div class="top_nav">
        {% include "top_navigation.html" %}
      </div>
      {% endblock top_navigation %}

      {% block content %}
      <!-- {{ content }} -->
      {% endblock content %}

      {% block footer %}
      <footer>
        {% include "footer.html" %}
      </footer>
      {% endblock footer %}
    </div>
  </div>

  {% block javascripts %}
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <!-- jQuery UI-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- Bootstrap -->
    <script src="{% static 'build/js/bootstrap.min.js' %}"></script>
    <!-- NProgress -->
    <script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
    <!-- Notify JS -->
    <script src="{% static 'build/js/bootstrap-notify.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!-- Parsley -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!-- override this block to add app/feature-specific js libraries and scripts in extending templates -->
    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.js' %}"></script>
    <script src="{% static 'build/js/fullscreen.js' %}"></script>
    {% block extended_js %}
    {% endblock extended_js %}
  {% endblock javascripts %}

  {% endblock body %}
</body>

</html>
