{% load static %} {% load cloudinary %} {% load permission_tags %} {% load sass_tags %}


<link href="{% sass_src 'scss/custom-main.scss' %}" rel="stylesheet" type="text/css">

<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="/account/dashboard/" class="site_title">
      <img src="{% static '/images/jp.png'%}" alt="Logo" width="62" height="62">
      <span></span>
    </a>

  </div>

  <div class="clearfix"></div>
  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      {% if user.image.url == 'http://res.cloudinary.com/jackwachira/image/upload/v1/img/photo_default.png' or user.image.url == None %}
        <img src="https://ui-avatars.com/api/?name={{ user.get_initials }}&rounded=true&background=A6AFB8&size=128&font-size=0.45&color=000&length=1"
          class="img-circle profile_img" alt="{{ user.get_initials }}">
      {% else %}
        <img src="{{ user.image.url }}" height="56" width="56" alt="{{ user.get_initials }}" class="img-circle profile_img">
      {% endif %}
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>{{ user.get_short_name }}</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        {% if user|has_role:'system_admin,finance_manager,distribution_manager,inventory_manager,distributor_admin,retailer_admin' %}
          <li>
            <a>
              <i class="fa fa-home"></i> Home
              <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
              <li>
                <a href="/account/dashboard/">Dashboard</a>
              </li>
            </ul>
          </li>
        {% endif %}
        {% if user|has_role:'gas_importer_admin' %}
        <li>
          <a>
            <i class="fa fa-edit"></i> Manage
            <span class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li>
              <a href="/distribution/retailers/">Retailers</a>
            </li>
          </ul>
        </li>
      {% endif %}
        <li>
          <a>
            <i class="fa fa-folder-open"></i> Orders
            <span class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            {% if user|has_role:'gas_importer_admin, finance_manager' %}
            <li>
              <a href="/orders/">My Orders</a>
            </li>
            {% endif %}
            {% if user|has_role:'retailer_admin' %}
            <li>
              <a href="/orders/new/">New Order</a>
            </li>
            {% endif %}
            {% if user|has_role:'gas_importer_admin, finance_manager' %}
            <li>
              <a href="/orders/fulfill/">Fulfill Order</a>
            </li>
            {% endif %}
          </ul>
        </li>
      {% if user|has_role:'retailer_admin' %}
        <li>
          <a>
            <i class="fa fa-line-chart"></i> Sales
            <span class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
              <li>
              <a href="/sales/sales/">Sales</a>
            </li>
            <li>
              <a href="/sales/new/">Make Sale</a>
            </li>
          </ul>
        </li>
      {% endif %}
        {% if user|has_role:'retailer_admin,gas_importer_admin,inventory_manager' %}
        <li>
          <a>
            <i class="fa fa-briefcase"></i> Inventory
            <span class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li>
              <a href="/products/listings/">Product Listings</a>
            </li>
            <li>
              <a href="/inventory/current-stock/">Current Stock</a>
            </li>
            <li>
              <a href="/inventory/stock-movement/">Stock Movement</a>
            </li>
              <li>
              <a href="/inventory/view-empty-stock/">Empty Cylinders</a>
            </li>
{#            <li>#}
{#              <a href="/inventory/stock-reconciliation/">Stock Reconciliation</a>#}
{#            </li>#}
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="menu_section">
      {% if user|has_role:'system_admin,finance_manager' %}
      <h3>Settings</h3>
      <ul class="nav side-menu">
        {% if user|has_role:'system_admin,finance_manager' %}
          <li>
            <a>
              <i class="fa fa-book"></i> Reports
              <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
              <li>
                <a>
                  <i class="fa fa-book"></i>General Reports
                  <span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu">
{#                  <li>#}
{#                    <a href="/consumers/reports/consumers/">Consumers</a>#}
{#                  </li>#}
{#                  <li>#}
{#                    <a href="/distribution/reports/retailers/">Retailers</a>#}
{#                  </li>#}
{#                  <li>#}
{#                    <a href="/distribution/reports/distributors/">Distributors</a>#}
{#                  </li>#}
                  <li>
                    <a href="/orders/reports/orders/">Orders</a>
                  </li>
                </ul>
              </li>
{#              <li>#}
{#                <a>#}
{#                  <i class="fa fa-money"></i>Financial Reports#}
{#                  <span class="fa fa-chevron-down"></span>#}
{#                </a>#}
{#                <ul class="nav child_menu">#}
{#                  <li>#}
{#                    <a href="#">Consumers</a>#}
{#                  </li>#}
{#                  <li>#}
{#                    <a href="#">Retailers</a>#}
{#                  </li>#}
{#                  <li>#}
{#                    <a href="#">Products</a>#}
{#                  </li>#}
{#                </ul>#}
{#              </li>#}
            </ul>
          </li>
        {% endif %}
        {% if user|has_role:'system_admin' %}
        <li>
          <a>
            <i class="fa fa-map-marker"></i> Regions
            <span class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li>
              <a href="/core/countries/">Countries</a>
            </li>
            <li>
              <a href="/core/regions/">Counties</a>
            </li>
          </ul>
        </li>
        {% endif %}
        {% if user|has_role:'system_admin' or user|has_role:'inventory_manager' %}
        <li>
          <a>
            <i class="fa fa-database"></i> Cylinders & Products
            <span class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li>
              <a href="/products/cylinders/">Cylinders</a>
            </li>
            <li>
              <a href="/products/brands/">Brands</a>
            </li>
            <li>
              <a href="/products/products/">Products</a>
            </li>
            <li>
              <a href="/products/product_serials/">Product Serials</a>
            </li>
              <li>
              <a href="/products/import_serials/">Import Product Serials</a>
            </li>
          </ul>
        </li>
        {% endif %}
        {% if user|has_role:'system_admin' %}
        <li>
          <a>
            <i class="fa fa-users"></i> Users
            <span class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li>
              <a href="{% url 'account:invite_user' %}">Invite User</a>
            </li>
            <li>
              <a href="{% url 'account:manage_roles' %}">Manage Roles</a>
            </li>
          </ul>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a id="gofull" data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>