{% load static %}
{% load sass_tags %}
{% load widget_tweaks %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %} {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% endblock meta %}
    <title>Gas Yetu |{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.ico' %}">
    {% block stylesheets %}
    {{ form.media.css }}
        <link href="{% static 'build/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" id="color-switcher-link" rel="stylesheet">
        <link href="{% static 'css/animations.css' %}" rel="stylesheet">
        <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    {% endblock stylesheets %}
    {% endblock head %}
</head>

<body id="body">
    {% block body %}
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>


    <!-- search modal -->
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <div class="widget widget_search">
            <form method="get" class="searchform form-inline" action="/">
                <div class="form-group">
                    <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
                </div>
                <button type="submit" class="theme_button">Search</button>
            </form>
        </div>
    </div>

    <!-- wrappers for visual page editor and boxed version of template -->
    <div id="canvas">
        <div id="box_wrapper">
            <!-- home -->
            <div id="home">
                <!-- template sections -->
                <section class="page_topline ls table_section table_section_md">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <span class="kanit text-uppercase bold fontsize_12">
                                    <i class="icon-map-marker highlight fontsize_12"></i> Kawi house – South C Redcross
                                    Road
                                    <span class="fontsize_12">off Popo Road,</span>
                                    <span class="highlight">Nairobi

                                    </span>
                                </span>
                            </div>
                            <div class="col-md-4">
                                <span class="kanit text-uppercase bold fontsize_12">
                                    <i class="icon-phone highlight fontsize_12"></i>For any Complaints/Queries<br/>
                                    <span class="fontsize_12 highlight">+254 20 6952000</span>
                                </span>
                            </div>

                            <div class="col-md-4">
                                <form class="form-inline" method="POST" action="{% url 'account_login' %}" data-parsley-validate>
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.GET.next }}" />

                                    <div class="form-group col-xs-2{% if form.login.errors %} has-error{% endif %}">
                                        {% render_field form.login class+="form-control" placeholder="Email or phone number" data-parsley-required="true" %}
                                        <div class="error-block">{{ form.login.errors }}</div>
                                    </div>
                            
                                    <div class="form-group col-xs-2{% if form.password.errors %} has-error{% endif %}">
                                        {% render_field form.password class+="form-control" placeholder="Password" data-parsley-required="true" %}
                                        <div class="error-block">{{ form.password.errors }}</div>
                                    </div>

                                    <div class="form-group col-xs-2">
                                        <button name="sign-in" type="submit" class="theme_button color1 topmargin_10">
                                            {% trans "Sign In" %}
                                        </button>
                                    </div>
                            
                                    <div class="small pull-right">
                                        <a href="{% url 'account_reset_password' %}">
                                            {% trans "Forgotten password?" %}
                                        </a>
                                    </div>
                            
                                    <p class="small pull-left">
                                        {% trans "Don't have an account?" %}
                                        <a href="{% url 'account_signup' %}{% if redirect_field_value %}?next={{ redirect_field_value }}{% endif %}">
                                            {% trans "Register here" %}</a>
                                    </p>
                                </form>
                            </div>

                        </div>
                    </div>
                </section>

                <!-- nav bar -->

                <header class="page_header cs main_color2 theme_header bordered_items floating_logo table_section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-lg-3">
                                <a href="./" class="logo">
                                    <img src="{% static 'images/gas_yetu_white.png' %}" width="75" height="50" alt="">
                                    <span class="logo_text">
                                        <span class="highlight kanit bold">
                                            <br> </span>
                                        <span class="small-text"></span>
                                    </span>
                                </a>
                            </div>
                            <div class="col-md-8 col-lg-9 text-right">
                                <!-- main nav start -->
                                <nav class="mainmenu_wrapper">
                                    <ul class="mainmenu nav sf-menu">
                                        <li id="home-menu">
                                            <a>Home</a>
                                        </li>
                                        <li>
                                            <a>About Us</a>
                                            <ul>
                                                <li id="background-menu">
                                                    <a>Background</a>
                                                </li>
                                                <li id="objectives-menu">
                                                    <a>Objectives</a>
                                                </li>
                                                <li id="joinus-menu">
                                                    <a>Join Us</a>
                                                </li>
                                                <li id="distributor-menu">
                                                    <a>Distributor Documents</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="faqs-menu">
                                            <a>Faqs</a>
                                        </li>
                                        <li>
                                            <a>Media Center</a>
                                            <ul>
                                                <li id="gallery">
                                                    <a>Gallery</a>
                                                </li>
                                                <li id="videos">
                                                    <a>Videos</a>
                                                </li>
                                                <li id="events">
                                                    <a>Events</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="contact-menu">
                                            <a>Contact Us</a>
                                        </li>
                                    </ul>
                                </nav>
                                <span class="toggle_menu">
                                    <span></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- slider -->
            
                <section class="intro_section page_mainslider cs">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="{% static 'images/banners-1.jpg' %}" alt="" class="slide-bg">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="slide_description_wrapper">
                                                <div class="slide_description">
                                                    <div class="intro-layer">
                
                
                
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- eof .col-* -->
                                    </div>
                                    <!-- eof .row -->
                                </div>
                                <!-- eof .container -->
                            </li>
                            <li>
                                <img src="{% static 'images/banners-2.jpg' %}" alt="" class="slide-bg">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="slide_description_wrapper">
                                                <div class="slide_description">
                                                    <div class="intro-layer">
                
                
                
                                                    </div>
                                                </div>
                                                <!-- eof .slide_description -->
                                            </div>
                                        </div>
                                        <!-- eof .col-* -->
                                    </div>
                                    <!-- eof .row -->
                                </div>
                                <!-- eof .container -->
                            </li>
                            <li>
                                <img src="{% static 'images/banners-3.jpg' %}" alt="" class="slide-bg">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="slide_description_wrapper">
                                                <div class="slide_description">
                                                    <div class="intro-layer">
                
                
                
                                                    </div>
                                                </div>
                                                <!-- eof .slide_description -->
                                            </div>
                                        </div>
                                        <!-- eof .col-* -->
                                    </div>
                                    <!-- eof .row -->
                                </div>
                                <!-- eof .container -->
                            </li>
                        </ul>
                    </div>
                    <!-- eof flexslider -->
                </section>
            </div>
            <!-- /home -->
            
            <!-- key features -->
            
            <!-- about us section -->
            <div id="background">
                <section class="ls section_padding_top_25 section_padding_bottom_25 columns_margin_bottom_60">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <h2 class="section_header">
                                    Background
                                </h2>
                                <hr class="divider_2_30 left-important main_bg_color divider_35">
                                <!-- <a href="about" class="theme_button color1 topmargin_10theme_button color1 topmargin_10">Read More</a> -->
                            </div>
                            <div class="col-md-9">
                                <p>
                                    In line with the government’s ambitions to transform Kenya into an industrialized middle-income country as articulated
                                    in Vision 2030, the Government of Kenya working with the Ministry of Petroleum & Mining through the National Oil
                                    Corporation of Kenya is rolling out a National Liquefied Petroleum Gas (LPG) enhancement project dubbed Mwananchi Gas
                                    Project. Under this project, 6Kg complete cylinders (gas, burner & grill), trading under the brand name “Gas Yetu”, is
                                    being distributed at a discounted price of Kshs 2100 to households which would otherwise not afford use of LPG due to
                                    high initial cost of gas cylinders. Besides the discounted program, National Oil is developing a robust distribution
                                    model that will enable Kenyan citizens in all the counties access LPG at the nearest shopping center through licensed
                                    distributors and retailers.
                                </p>
                                <p>
                                    Through this initiative the government seeks to enhance the penetration of LPG the county from 10% - 70% ensuring that
                                    all Kenyans have access to more clean energy.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- why gas yetu -->
                <section class="ls section_padding_top_15 section_padding_bottom_75 page_services">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 text-center text-sm-left">
                                <h2 class="section_header">
                                    Why
                                    <br>
                                    <span class="highlight">gas yetu</span>
                                </h2>
                                <hr class="divider_2_30 left main_bg_color divider_35">
                            </div>
                            <div class="col-md-9">
                                <div class="row columns_margin_bottom_40 services-row">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="teaser">
                                            <div class="accessibility">
                                                <img src="{% static 'images/accessibility.png'%}" alt="Accessibility">
                                            </div>
                                            <h4 class="text-uppercase">
                                                <a>Accessibility</a>
                                            </h4>
                                            <hr class="divider_2_30 left main_bg_color">
                                            <p>
                                                Gas Yetu is readily available to the customer.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="teaser">
                                            <div class="affordability">
                                                <img src="{% static 'images/affordability.png'%}" alt="Affordability">
                                            </div>
                                            <h4 class="text-uppercase">
                                                <a>Affordability</a>
                                            </h4>
                                            <hr class="divider_2_30 left main_bg_color">
                                            <p>
                                                Gas Yetu is set to retail at KES 2100 for the 6KG cylinder
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="teaser">
                                            <div class="quantity">
                                                <img src="{% static 'images/quantity.png'%}" alt="Quantity">
                                            </div>
                                            <h4 class="text-uppercase">
                                                <a>Quality</a>
                                            </h4>
                                            <hr class="divider_2_30 left main_bg_color">
                                            <p>
                                                Gas Yetu cylinders will always be filled with the right amount of gas
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="teaser">
                                            <div class="safety">
                                                <img src="{% static 'images/safety.png'%}" alt="Safety">
                                            </div>
                                            <h4 class="text-uppercase">
                                                <a>Safety</a>
                                            </h4>
                                            <hr class="divider_2_30 left main_bg_color">
                                            <p>
                                                Gas Yetu is a safe product for our consumers.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- objectives -->
            <div id="objectives">
                <section class="ls section_padding_top_25 section_padding_bottom_75 page_services">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <h2 class="section_header">
                                    Obectives
                                </h2>
                                <hr class="divider_2_30 left-important main_bg_color divider_35">
                                <!-- <a href="about" class="theme_button color1 topmargin_10theme_button color1 topmargin_10">Read More</a> -->
                            </div>
                            <div class="col-md-9">
                                <div class="col-md-6 col-sm-6">
                                    <ul class="list2">
                                        <li>Enhance LPG penetration from approximately 10% currently to 70% within the next 3 years.</li>
                                        <li>Reduce respiratory diseases and mortality rates associated with household air pollution as a result of sustained use of firewood and charcoal</li>
                                        <li>Uplift the quality of life for the majority of Kenyan citizens by making clean cooking fuel (LPG) readily available.</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <ul class="list2">
                                        <li>Reduce deforestation as beneficiaries move away from the use of biomass (charcoal & firewood).</li>
                                        <li>Promote entrepreneurship in the country by giving priority to Women, Youth and People living with disability to be a major part of the supply chain as distributors, retailers and brand ambassadors.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h2 class="section_header">
                                    Customer Eligibility & Journey
                                </h2>
                                <hr class="divider_2_30 left-important main_bg_color divider_35">
                            </div>
                            <div class="col-md-9">
                                <div class="col-md-6 col-sm-6">
                                    <ul class="list2">
                                        <li>The Project has been successfully piloted in Kajiado North sub county and Machakos County.</li>
                                        <li>This is targeted to eligible households who would otherwise not afford the cylinder at retail market
                                            price.</li>
                                        <li>Registration booklets were provided by National Oil to facilitate registration at the chief’s offices.</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <ul class="list2">
                                        <li>Individuals presented themselves with their National I.Ds to the chiefs for registration.</li>
                                        <li>After registration at the Chiefs, the beneficiaries then availed themselves with their I.D and their
                                            registration forms at the distribution center for collection of the cylinder upon payment of the Kshs
                                            2000</li>
                                        <li>National Oil has since contracted an IT company to develop a system to effectively select the
                                            beneficiaries to be rolled out in the progressive plan.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- /objectives -->

            <!-- joinus -->
            <div id="joinus">
                <section class="ls section_padding_top_50 section_padding_bottom_145">
                    <div class="container">
                        <div class="row">
                            <h2>Expression of Interest – GasYetu Distributor</h2>
                            <div class="col-sm-12">
                                <p>
                                    The Corporation is working on the roll-out of the National LPG enhancement project dubbed Mwananchi Gas Project. Under this project, 6Kg cylinders filled with gas, complete with accessories, will be distributed at a discounted price equivalent to 65% of cost to households which would otherwise not afford. Besides, the government has also developed a robust distribution model that will enable Kenyan citizens in all the counties access LPG at the nearest shopping center through retailers and distributors. The projects targets 1.2 million households annually for next 5 years. The main Objective of this project is to increase LPG penetration by getting rid of the entry barriers which include: 
                                </p>
                                <div class="col-md-12 col-sm-12">
                                    <ul class="list2">
                                        <li>High cost of the hardware (Cylinder, burner and Grill)</li>
                                        <li>Limited access to LPG</li>
                                        <li>Limited Knowledge on safe use of LPG</li>
                                    </ul>
                                </div>
                                <p>
                                    The project will also help in the reduction of mortality rates associated with household air pollution by 50 per cent, reduce deforestation as residents move away from the use of Biomass (Charcoal & firewood) and promote entrepreneurship in the country. As part of socio-economic empowerment program the government is giving priority to Women and Youth to be the major part of the distribution chain as distributors. For the success of this project the Government of Kenya through National Oil is partnering with several stakeholders. In this regard, National Oil is seeking partnership with Women, Youth and People Living with Disabilities in building the robust distribution model. As advertised in local dailies, a great business opportunity awaits Women, Youths and People living with disabilities (groups or Individuals). For an opportunity to become a Gas Yetu Distributor, interested applicants should submit their applications to the address below as provided in the advert: In the application, applicants should clearly indicate their county and Sub county of choice and attach the required documentations as listed below as proof of their capacity to run the business as Distributors:
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </section>
            </div>
            <!-- /joinus -->
            <!-- distributor -->
            <div id="distributor">
                <section class="ls section_padding_top_50 section_padding_bottom_145">
                        <div class="container">
                        <div class="row">
                            <h2>Distributor</h2>
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <h4>Section A: Mandatory Documents</h4>
                                    <ul class="list2">
                                        <li>Women/Youth Certificate. (AGPO)</li>
                                        <li>Introduction letter from County Director of Gender & Social services in the County of choice</li>
                                        <li>Proof of Working Capital (Minimum KShs. 1Million) e.g. in form of a letter from Bank.</li>
                                        <li>Certificate of Registration / Incorporation</li>
                                        <li>Tax Compliance Certificate.</li>
                                        <li>Operational space in form of land (Owned or Leased) from where to run the business from</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <h4>Section B: Weighted Documents</h4>
                                    <p>Women or Youth Company OR Group brief Profile of not more than 2 pages. Profile needs to bring out the below:</p>
                                    <ul class="list2">
                                        <li>Verified number of members. If it’s a company provide CR 12</li>
                                        <li>Experience & understanding of FMCG Distribution and Logistic</li>
                                        <li>Ability to acquire (buy or lease) Distribution tools (bicycle, Motorbike, Pickup, Truck)</li>
                                        <li>Knowledge in Stock Management</li>
                                        <li>Familiarity and Knowledge of area of operation (Selected Sub County)</li>
                                        <li>Influence on Community supported with proof of ability to recruit Retailers.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- /distributor -->
            <!-- faqs -->
            <div id="faqs">
                <section class="ls section_padding_top_25 section_padding_bottom_75 page_services">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h2 class="section_header small">
                                    Gas Yetu Frequently Asked Questions
                                </h2>
                            </div>

                            <div class="col-sm-6">
                                <div class="panel-group" id="accordion1">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
                                                    <i class="fa fa-question-circle"></i>
                                                    Will NOC allow youth or individuals who want to trade outside the groups to buy cylinders as individuals?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                NOC would like to deal with women groups and youth groups for better impact. In case the involvement of the youth group or women group is not adequate NOC may consider individuals
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse2" class="collapsed">
                                                    <i class="fa fa-question-circle"></i>
                                                    How much would be the margin per Kg for the investor?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Kshs.15 per Kg at the retail /cage level, Kshs.15 per Kg at the container/distributor level.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse3" class="collapsed">
                                                    <i class="fa fa-question-circle"></i>
                                                    When did the project start?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                A pilot test was conducted in Kajiado North Sub County and Machakos County.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse4" class="collapsed">
                                                    <i class="fa fa-question-circle"></i>
                                                    Who will bear the transport cost to the distributor or retailer?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse4" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Already factored in the margin per Kg for every level. Where possible the delivery truck shall deliver to the<b> distributor</b> or <b>retailer</b> to minimize the channel transport cost.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="panel-group" id="accordion2">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#collapse21" class="collapsed">
                                                    <i class="fa fa-question-circle"></i>
                                                    How many distributors are required?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse21" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                One per Sub County.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#collapse22" class="collapsed">
                                                    <i class="fa fa-question-circle"></i>
                                                    Who will take care of faulty cylinders?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse22" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                NOC will undertake to validate cylinders and do repairs as and when required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#collapse23" class="collapsed">
                                                    <i class="fa fa-question-circle"></i>
                                                    What happens when I want to stop being a distributor?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse23" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Contact the sales rep who will liaise with the next person in the business to take them over.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#collapse24" class="collapsed">
                                                    <i class="fa fa-question-circle"></i>
                                                    How many retailers are required?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse24" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                This depend on the number of cylinders available in each county. The idea is to bring the cylinders very close to the consumers.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- /faqs -->
            
            <!-- testimonials -->
            <section class="ls ms section_padding_top_160 section_padding_bottom_130">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-lg-3 text-center text-sm-left">
                            <h2 class="section_header">
                                Testimonials
                            </h2>
                            <hr class="divider_2_30 left main_bg_color divider_35">
                        </div>
                        <div class="col-md-8 col-lg-9 topmargin_0">
                            <div class="owl-carousel" data-responsive-lg="3" data-responsive-md="2" data-dots="true"
                                data-dots-container="#testimonials-dots">
                                <blockquote class="blockquote-item">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <div class="item-media">
                                                <img src="{% static 'images/faces/01.jpg' %}" alt="">
                                                <div class="media-links">
                                                    <div class="links-wrap">
                                                        <a class="p-view" title="" href="#"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body media-middle">
                                            <a href="#">
                                                <h4>Sheldon Moreno</h4>
                                                <p class="highlight bold text-uppercase kanit">Head of Operations</p>
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="divider_2_30 left-important main_bg_color">
                                    <p>
                                        Untrammelled and nothing prevents our being able to do what we like best, every pleasure.
                                    </p>
                                </blockquote>
            
                                <blockquote class="blockquote-item">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <div class="item-media">
                                                <img src="{% static 'images/faces/02.jpg' %}" alt="">
                                                <div class="media-links">
                                                    <div class="links-wrap">
                                                        <a class="p-view" title="" href="#"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body media-middle">
                                            <a href="#">
                                                <h4>Mike Banbridge</h4>
                                                <p class="highlight bold text-uppercase kanit">Consultant</p>
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="divider_2_30 left-important main_bg_color">
                                    <p>
                                        But in certain circumstances and owing to the claims of duty or the obligations business it
                                        will frequently.
                                    </p>
                                </blockquote>
            
                                <blockquote class="blockquote-item">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <div class="item-media">
                                                <img src="{% static 'images/faces/03.jpg' %}" alt="">
                                                <div class="media-links">
                                                    <div class="links-wrap">
                                                        <a class="p-view" title="" href="#"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body media-middle">
                                            <a href="#">
                                                <h4>Claudia Ortiz</h4>
                                                <p class="highlight bold text-uppercase kanit">Customer Relations</p>
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="divider_2_30 left-important main_bg_color">
                                    <p>
                                        These cases are perfectly simple and easy to distinguish. In a free hour, our power of
                                        choice.
                                    </p>
                                </blockquote>
            
            
                                <blockquote class="blockquote-item">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <div class="item-media">
                                                <img src="{% static 'images/faces/01.jpg' %}" alt="">
                                                <div class="media-links">
                                                    <div class="links-wrap">
                                                        <a class="p-view" title="" href=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body media-middle">
                                            <a href="#">
                                                <h4>Sheldon Moreno</h4>
                                                <p class="highlight bold text-uppercase kanit">Head of Operations</p>
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="divider_2_30 left-important main_bg_color">
                                    <p>
                                        Untrammelled and nothing prevents our being able to do what we like best, every pleasure.
                                    </p>
                                </blockquote>
            
                                <blockquote class="blockquote-item">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <div class="item-media">
                                                <img src="{% static 'images/faces/02.jpg' %}" alt="">
                                                <div class="media-links">
                                                    <div class="links-wrap">
                                                        <a class="p-view" title="" href="#"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body media-middle">
                                            <a href="#">
                                                <h4>Mike Banbridge</h4>
                                                <p class="highlight bold text-uppercase kanit">Consultant</p>
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="divider_2_30 left-important main_bg_color">
                                    <p>
                                        But in certain circumstances and owing to the claims of duty or the obligations business it
                                        will frequently.
                                    </p>
                                </blockquote>
            
                                <blockquote class="blockquote-item">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <div class="item-media">
                                                <img src="{% static 'images/faces/03.jpg' %}" alt="">
                                                <div class="media-links">
                                                    <div class="links-wrap">
                                                        <a class="p-view" title="" href="#"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body media-middle">
                                            <a href="#">
                                                <h4>Claudia Ortiz</h4>
                                                <p class="highlight bold text-uppercase kanit">Customer Relations</p>
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="divider_2_30 left-important main_bg_color">
                                    <p>
                                        These cases are perfectly simple and easy to distinguish. In a free hour, our power of
                                        choice.
                                    </p>
                                </blockquote>
            
            
                                <blockquote class="blockquote-item">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <div class="item-media">
                                                <img src="{% static 'images/faces/01.jpg' %}" alt="">
                                                <div class="media-links">
                                                    <div class="links-wrap">
                                                        <a class="p-view" title="" href="#"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body media-middle">
                                            <a href="#">
                                                <h4>Sheldon Moreno</h4>
                                                <p class="highlight bold text-uppercase kanit">Head of Operations</p>
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="divider_2_30 left-important main_bg_color">
                                    <p>
                                        Untrammelled and nothing prevents our being able to do what we like best, every pleasure.
                                    </p>
                                </blockquote>
            
                                <blockquote class="blockquote-item">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <div class="item-media">
                                                <img src="{% static 'images/faces/02.jpg' %}" alt="">
                                                <div class="media-links">
                                                    <div class="links-wrap">
                                                        <a class="p-view" title="" href="#"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body media-middle">
                                            <a href="#">
                                                <h4>Mike Banbridge</h4>
                                                <p class="highlight bold text-uppercase kanit">Consultant</p>
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="divider_2_30 left-important main_bg_color">
                                    <p>
                                        But in certain circumstances and owing to the claims of duty or the obligations business it
                                        will frequently.
                                    </p>
                                </blockquote>
            
                                <blockquote class="blockquote-item">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <div class="item-media">
                                                <img src="{% static 'images/faces/03.jpg' %}" alt="">
                                                <div class="media-links">
                                                    <div class="links-wrap">
                                                        <a class="p-view" title="" href="#"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body media-middle">
                                            <a href="#">
                                                <h4>Claudia Ortiz</h4>
                                                <p class="highlight bold text-uppercase kanit">Customer Relations</p>
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="divider_2_30 left-important main_bg_color">
                                    <p>
                                        These cases are perfectly simple and easy to distinguish. In a free hour, our power of
                                        choice.
                                    </p>
                                </blockquote>
            
                            </div>
                        </div>
                    </div>
                    <div class="row columns_margin_0">
                        <div class="col-sm-12 text-center text-md-left">
                            <div id="testimonials-dots" class="owl-dots topmargin_30"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact form -->
            <div id="contact">
                <section class="ls section_padding_top_25 section_padding_bottom_25">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 to_animate" data-animation="scaleAppear">
                                <h2 class="section_header">Contact Form</h2>
                                <form class="contact-form row columns_padding_20 columns_margin_0">
                                    {% csrf_token %}
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">Full Name
                                                <span class="required">*</span>
                                            </label>
                                            <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Your Name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="subject">Subject
                                                <span class="required">*</span>
                                            </label>
                                            <input type="text" aria-required="true" size="30" value="" name="subject" id="subject" class="form-control" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="phone">Phone
                                                <span class="required">*</span>
                                            </label>
                                            <input type="text" aria-required="true" size="30" value="" name="phone" id="phone" class="form-control" placeholder="Your Phone number">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email address
                                                <span class="required">*</span>
                                            </label>
                                            <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Your Email">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="message">Message</label>
                                            <textarea aria-required="true" rows="11" cols="45" name="message" id="message" class="form-control" placeholder="Your Message"></textarea>
                                        </div>
                                        <button id="contact_submit" name="contact_submit" class="theme_button color1">Send Message</button>
                                    </div>

                                </form>
                            </div>
                            <div class="col-md-4 to_animate" data-animation="scaleAppear">
                                <h2 class="section_header">Contact Info</h2>
                                <div class="media thin_teaser topmargin_0">
                                    <div class="media-left media-middle">
                                        <div class="teaser_icon border_icon round">
                                            <i class="icon-map-marker highlight2"></i>
                                        </div>
                                    </div>
                                    <div class="media-body media-middle">
                                        <p class="kanit text-uppercase bold fontsize_14">
                                            Kawi house – South C Redcross Road
                                            <span class="highlight2 fontsize_18"></span>
                                            <br> off Popo Road,
                                            <span class="highlight2">Nairobi
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="media thin_teaser">
                                    <div class="media-left media-middle">
                                        <div class="teaser_icon border_icon round">
                                            <i class="icon-phone highlight2"></i>
                                        </div>
                                    </div>
                                    <div class="media-body media-middle">
                                        <p class="kanit text-uppercase bold fontsize_14">
                                            For any Complaints/Queries
                                            <br>
                                            <span class="fontsize_18 highlight2">+254 20 6952000</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="media thin_teaser">
                                    <div class="media-left media-middle">
                                        <div class="teaser_icon border_icon round">
                                            <i class="icon-envelope highlight2"></i>
                                        </div>
                                    </div>
                                    <div class="media-body media-middle">
                                        <p class="kanit text-uppercase bold fontsize_14">
                                            Our email
                                            <br>
                                            <span class="highligh2">inquiries@gasyetu.co.ke</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="page_copyright cs main_color2 table_section">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <p class="bold fontsize_12 text-uppercase kanit">Gas Yetu &copy; 2018.
                                    <span class="black">Designed & Developed by </span>
                                    <a href="https://www.jambopay.com/"><img src="{% static 'images/jambopay.png' %}" width="100" height="30"></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <!-- footer -->
            
        <!-- footer -->
                    
        </div>
        <!-- eof #box_wrapper -->
    </div>
    <!-- eof #canvas -->
    {% block javascripts %}
    <script src="{% static 'js/compressed.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#faqs').on('click', function () {
            //    console.log("am here")
            //    $('#home').removeClass('active');
            //    $(this).addClass('active');
            //});
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#home-menu').on('click', function(){
                $('html, body').animate({ scrollTop: $('#home').offset().top-75}, 'slow');
            });
        });
        $(document).ready(function () {
            $('#background-menu').on('click', function(){
                $('html, body').animate({ scrollTop: $('#background').offset().top-75}, 'slow');
            });
        });
        $(document).ready(function () {
            $('#objectives-menu').on('click', function () {
                $('html, body').animate({ scrollTop: $('#objectives').offset().top - 75 }, 'slow');
            });
        });
        $(document).ready(function () {
            $('#joinus-menu').on('click', function(){
                $('html, body').animate({ scrollTop: $('#joinus').offset().top-75}, 'slow');
            });
        });
        $(document).ready(function () {
            $('#distributor-menu').on('click', function(){
                $('html, body').animate({ scrollTop: $('#distributor').offset().top-75}, 'slow');
            });
        });
        $(document).ready(function () {
            $('#faqs-menu').on('click', function(){
                $('html, body').animate({ scrollTop: $('#faqs').offset().top-75}, 'slow');
            });
        });
        $(document).ready(function () {
            $('#contact-menu').on('click', function(){
                $('html, body').animate({ scrollTop: $('#contact').offset().top-75}, 'slow');
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#contact_submit").on('click', function (e) {
            e.preventDefault();
            var token = $('.contact-form').find('input[name = csrfmiddlewaretoken]').val();
            var name = $('#name').val();
            var subject = $('#subject').val();
            var email = $('#email').val();
            var phone = $('#phone').val();
            var message = $('#message').val();
            $.post("/account/contactform/",
                { 
                    name: name,
                    email: email,
                    subject:subject,
                    phone:phone,
                    message:message,
                    csrfmiddlewaretoken: token
                },
                function (data) {
                    $('.contact-form').append('<span class="contact-form-respond highlight">'+data.message+'</span>');
                }
            );
        });

    });

    </script>
    <script type="text/javascript">
    </script>
    {% endblock javascripts %}
                    
    <!-- Google Map Script -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTwYSMRGuTsmfl2z_zZDStYqMlKtrybxo"></script>
{% endblock body %}
</body>
</html>
