@import "common";
#preview-box {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

#avatar-preview {
    width: auto;
    height: 150px;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}