{% extends "page.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% load sass_tags %}
{% load static %}
{% block title %} Locate Distributor{% endblock title %}


{% block head %}
    {{ block.super }}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock head %}

{% block stylesheets %}
  {{ block.super }}
    <style media="screen">
        #main { width:100%; height:400px }
    </style>
    <link href="{% sass_src 'scss/maps.scss' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}
{% block page %}
    <div id="seller-div" data-seller-url="{% url 'ajax_load_seller' %}">

    </div>
    <h4 id="locate-message">Locating...</h4>


    {% leaflet_map "main" callback="main_map_init" %}
    <script type="text/javascript">
        function main_map_init (map, options) {
                var geojsonPointLayer = new L.GeoJSON.AJAX("{% url seller_points %}", {
                    onEachFeature:function(feature, layer) {
                        layer.bindPopup("<a href='#' onclick=displayDetails('" + feature.properties.agent_number + "')>" + feature.properties.trading_name + "</a>")
                    }
                });
                geojsonPointLayer.addTo(map);
                add_map_controls(map);

                setTimeout(
                    map.locate({ setView: true, watch: true, maxZoom: 17, maximumAge: 60000 }),
                    100
                )
                function onLocationFound(e) {
                    var radius = e.accuracy / 2;
                    L.marker(e.latlng).addTo(map)
                        .bindPopup("{{request.tenant}}, you are within " + radius + " meters from this point").openPopup();
                    L.circle(e.latlng, radius).addTo(map);
                    $('#locate-message').html("")
                };

                function onLocationError(e) {
                    $('#locate-message').html("Location could not be determined automatically")
                }

                map.on('locationfound', onLocationFound);
                map.on('locationerror', onLocationError);
        }
        function displayDetails(agent_number){
            $.ajax({
                url: $("#seller-div").attr("data-seller-url"),
                data: {
                    'agent_number' : agent_number
                },
                success: function (data) {
                    $('#seller-div').html(data);
                }

        });
        this.preventDefault();
        this.stopPropagation();
    }
     </script>
{% endblock page %}

{% block extended_js %}
    {{ block.super }}
    <script src="{% static 'js/leaflet.ajax.min.js' %}"></script>
    <script src="{% static 'js/map_utils.js' %}"></script>
{% endblock extended_js %}