<h3 id='seller_title'>{{seller.trading_name}}</h3>
<p id='seller_email'>Email: {{seller.contact_email}}</p>
<p id='seller_phone'>Phone Number: {{seller.contact_phone}}</p>
<p id='seller_agent_number'>Agent Number: {{seller.agent_number}}</p>
<a class="btn btn-info" href="{% url 'create_order' %}?agent_number={{seller.agent_number}}">Buy from here</a>